#table_paste{
    display: block;
}

#send-call{
    margin-bottom: 10px;
    display: block;
}

#send-sales-products{
    margin-top: 10px;
    margin-right: 10px;
    display: inline;
}

#send-alphaville {
    margin-right: 10px;
}